Here are the merge request details for you to review:

<input>
<mr_title>
{{mr_title}}
</mr_title>

<mr_description>
{{mr_description}}
</mr_description>

{{custom_instructions_section}}

<git_diffs>
{{diff_lines}}
</git_diffs>

{{full_content_section}}
</input>
