{% if merge_request_url %}
  The merge request you created is contained within the tool_response tag below. Extract the URL for the merge
  request you created from this data:
  <tool_response>{{git_push_response}}</tool_response>

  The user's merge request URL is provided in the merge_request_url tag below:
  <merge_request>
    <merge_request_url>{{merge_request_url}}</merge_request_url>
  </merge_request>

  Use the `create_merge_request_note` tool to add a comment to the `merge_request_url`, with a link to the merge
  request you created. If you were not able to extract the merge request from the `tool_response`, then take no
  action.
{% else %}
  Take no action because no Merge Request has been provided.
{% endif %}
