{% include "code_suggestions/generations/jinja_template/_system_instructions_section/1.0.0.jinja" %}

Return only the new code and nothing else. We will then insert this at the {% raw %}{{cursor}}{% endraw %} position.
If you are not able to write code based on the given instructions or if the context is not clear, return an empty result instead.
