Here is the context required to execute the plan:
<context>
  {{fix_pipeline_context_results}}
</context>

Execute this plan to fix the failing GitLab CI/CD pipeline:
<plan>
  {{fix_pipeline_plan}}
</plan>
