{% include "code_suggestions/generations/jinja_template/_system_instructions_section/1.0.0.jinja" %}

Return new code enclosed in <new_code></new_code> tags. We will then insert this at the {% raw %}{{cursor}}{% endraw %} position.
If you are not able to write code based on the given instructions or if the context is not clear, return an empty result like <new_code></new_code>.
