<context>
    <type>issue</type>
    <content>The user is currently on a page that displays an issue with a description, comments, etc., which the user might refer to, for example, as 'current', 'this' or 'that'. The title of the issue is '{{context.title}}'.</content>
</context>
