<context>
    <type>epic</type>
    <content>The user is currently on a page that displays an epic with a description, comments, etc., which the user might refer to, for example, as 'current', 'this' or 'that'. The title of the epic is '{{context.title}}'.</content>
</context>
